* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


.pokaz {
    display: none;
}



.wrap2 {
    display: none;
}

.z0 {
    display: none;
}

.wrap {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-h1 {
    text-align: center;
    line-height: 10vh;
    width: 100%;
    flex-basis: 10%;
}

.img {
    width: 95%;
    flex-basis: 60%;
    background-image: url(../img/dzien1.jpg);
    background-position: center bottom;
    background-size: cover;
}

.menu {
    width: 100%;
    flex-basis: 20%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}

.menu>div {
    text-align: center;
    text-transform: uppercase;
    line-height: 7vh;
    border-radius: 5px;
    border: 1px solid black;
    flex-basis: 23vw;
}

.menu>div:hover {
    background-color: #179fc3;
    cursor: pointer;
}



div.menu.opcja {
    display: none;
}

div.wrap2.opcja {
    display: flex;
    width: 85vw;
    flex-direction: column;
}

.wrap2.opcja>.burger {
    display: block;
    position: fixed;
    top: 10px;
    right: 20px;
    font-size: 40px;
    opacity: 0.8;
}

div.menu.burger {
    display: flex;
    position: fixed;
    flex-direction: column;
    background-color: white;
    height: 100vh;
    justify-content: center;
}

div.menu.burger>div {
    width: 80vw;
    flex-basis: 8vh;
    margin: 3px 0;
}


div.wrap2.opcja>h1 {
    margin: 10px 5px;
}

div.wrap2.opcja>p {
    font-size: 15px;
    margin: 10px 5px;
}

div.wrap2.opcja>div.galeria {
    display: flex;
    flex-wrap: wrap;
    width: 85vw;
    justify-content: center;
}

div.wrap2.opcja>div.galeria>div {
    width: 90vw;
    height: 90vw;
    margin: 5px;
    border: 1px solid black;
    background-position: center bottom;
    background-size: cover;

}

@media (min-width: 600px) {


    .pokaz.activ {
        display: block;
        position: fixed;
        left: 0;
        top: 0;
        margin: 2.5vh 12.5vw;
        background-color: black;
        width: 75vw;
        height: 95vh;
        background-position: center bottom;
        background-repeat: no-repeat;
        background-size: contain;
        border: 2px solid rgb(30, 30, 31);
    }

    .pokaz.activ .fa-angle-left {
        position: fixed;
        font-size: 50px;
        top: calc(50% - 25px);
        left: 13.5vw;
        color: white;
    }

    .pokaz.activ .fa-angle-right {
        position: fixed;
        font-size: 50px;
        top: calc(50% - 25px);
        right: 12.5vw;
        color: white;
    }

    .pokaz.activ .fa-times-circle {
        position: fixed;
        font-size: 50px;
        top: 0;
        right: 7vw;
        color: black;
        background-color: white;

    }

    .wrap.activ {
        filter: blur(5px);
    }

    .wrap2.opcja>.burger {
        display: none;
    }

    .wrap {
        flex-direction: row;
        width: 100vw;
        height: 100vh;
        justify-content: space-around;
        align-items: center;

    }

    .wrap2 {
        display: none;
    }

    .img {
        flex-basis: 40%;
        height: 70vh;
        border: 1px solid black;
        justify-items: left;
        overflow: hidden;
        background-image: url(../img/dzien1.jpg);
        background-size: cover;
        background-position: center bottom;
        animation: dzien 4s linear infinite;

    }

    .img-h1 {
        position: absolute;
        left: 0;
        right: 0;
        width: 40%;
        align-self: flex-start;
        color: black;
        text-transform: uppercase;
        font-size: 40px;
        line-height: 15vh;
        letter-spacing: 10px;
        animation: text 4s linear infinite;

    }

    .menu {
        flex-basis: 47%;
        height: 98%;
        position: relative;
        text-align: center;
    }

    .menu>div {
        position: absolute;
        height: 10vh;
        width: 15vw;
        left: 0;
        top: 0;
        line-height: 10vh;
        text-transform: uppercase;
        letter-spacing: 3px;
        border-radius: 5px;
        border: 1px solid black;
    }




    div.z0 {
        display: none;
    }

    div.z1 {
        left: 15%;
        top: 10%;
    }

    div.z2 {
        left: 30%;
        top: 25%;
    }

    div.z3 {
        left: 45%;
        top: 40%;
    }

    div.z4 {
        left: 60%;
        top: 55%;
    }

    div.z5 {
        left: 5%;
        top: 45%;
    }

    div.z6 {
        left: 20%;
        top: 60%;
    }

    div.z7 {
        left: 40%;
        top: 75%;
    }


    div.wrap2>h1.h1 {
        width: 70vw;
        height: 10vh;
        line-height: 10vh;
        margin: 0 46px;
    }

    .burger {
        display: none;
    }

    body div.wrap2>p.p {
        height: 15vh;
        margin-top: 5px;
        margin-left: 50px;
        margin-right: 50px;

    }

    .wrap2>div.galeria {
        display: flex;
        height: 75vh;
        margin-top: -20px;
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: center;

    }

    div.wrap>div.wrap2>div.galeria>div {
        width: 15vw;
        height: 15vw;
        border: 2px solid #179fc3;
        cursor: pointer;
    }

    .galeria>div {
        background-size: cover;
    }

    div.menu.opcja>div {
        position: static;
        left: auto;
        top: auto;
        flex-basis: 12vw;
    }

    div.menu.opcja {
        display: flex;

    }

    @media screen and (max-height: 550px) {
        div.wrap>div.menu {
            font-size: 10px;
        }

        div.wrap>div.wrap2>div.galeria {
            height: 50vh;
            margin-top: 50px;
        }

        div.wrap>div.wrap2>div.galeria>div {

            width: 25vh;
            height: 22vh;


        }

        body div.wrap2>p.p {
            font-size: 11px;
            margin-left: 35px;

        }

        div.wrap2>h1.h1 {
            font-size: 18px;
        }
    }


}

@keyframes dzien {
    0% {
        opacity: 0;
    }

    8% {
        opacity: 0;
    }

    13% {
        opacity: 1;
    }

    87% {
        opacity: 1;
    }

    92% {
        opacity: 0
    }

    100% {
        opacity: 0;
    }
}

@keyframes text {
    0% {
        opacity: 0;
    }

    13% {
        opacity: 0;
    }

    18% {
        opacity: 1;
    }

    82% {
        opacity: 1;
    }

    87% {
        opacity: 0
    }

    100% {
        opacity: 0;
    }
}